body {
  font-family: 'Poppins', Arial, sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
  background-color: #000;
  color: #fff;
}

.project-cards .project-card {
  background: rgba(255, 255, 255, 0.2);
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  margin: 10px;
  padding: 10px; /* Reduzca el padding para hacer la tarjeta más pequeña */
  text-align: center;
  transition: background 0.3s, transform 0.3s;
  width: 200px; /* Reduzca el ancho de la tarjeta */
}

#backgroundVideo {
  opacity: 0;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
}

#overlay {
  text-align: center;
}

h2 {
  font-size: 36px;
  position: relative;
  margin-bottom: 20px;
  animation: floatingAnimation 4s infinite;
}

#clickText {
  font-size: 20px;
  cursor: pointer;
  transition: opacity 0s;
}

#clickText.clicked {
  opacity: 0;
}

@keyframes floatingAnimation {
  0% {
    box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0);
    transform: translateY(0px);
  }
  50% {
    box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0);
    transform: translateY(-20px);
  }
  100% {
    box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0);
    transform: translateY(0px);
  }
}

.gradient-text {
  background: linear-gradient(to right, rgb(255, 3, 255), rgb(255, 0, 0));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  cursor: pointer;
  transition: transform 0.3s, font-size 0.3s;
  background-size: 200% auto;
  animation: gradientAnimation 5s linear infinite;
}

@keyframes gradientAnimation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.gradient-text:hover {
  font-size: 90px;
}

.social-media-links {
  list-style-type: none;
  padding: 0;
  display: flex;
  justify-content: center;
  background-color: #00000000;
  margin-top: 20px;
}

.social-media-links li {
  margin: 0 10px;
  position: relative;
}

.social-media-links li a {
  color: #ffffff;
  text-decoration: none;
  transition: transform 0.3s;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60px;
  height: 60px;
}

.social-media-links li a:hover {
  transform: scale(1.2);
}

.social-media-links li a i {
  font-size: 36px;
}

.social-media-links li a span {
  display: none;
}

.made-by {
  transition: transform 0.3s;
}

.made-by:hover {
  transform: scale(1.1);
}

.new-video {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
  opacity: 0;
  animation: fadeAnimation 1s forwards;
}

@keyframes fadeAnimation {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

#overlay h2,
.social-media-links,
.made-by {
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.5s ease;
}

#overlay.clicked h2,
#overlay.clicked .social-media-links,
#overlay.clicked .made-by {
  opacity: 1;
  pointer-events: auto;
}

